<h1>New Person</h1>

<%= form_tag('/persons/create', method: 'post') do %>

  <%= radio_button_tag('type', 'actor') %>
  <%= label_tag('Actor') %>
  <%= radio_button_tag('type', 'director') %>
  <%= label_tag('Director') %><br>

  <%= label_tag('First_Name') %><br>
  <%= text_field_tag 'first_name' %><br><br>
  <%= label_tag('Last_Name') %><br>
  <%= text_field_tag 'last_name' %><br><br>
  <%= label_tag('Date of Birth') %><br>
  <%= date_field_tag 'birth_date' %><br><br>
  <%= label_tag('Description') %><br>
  <%= text_field_tag 'description' %><br><br>

  <%= submit_tag("Create") %>


<% end %>

<%= link_to 'Back', :back %>