<h1>People</h1>

<table class="table">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Birth date</th>
    <th>Description</th>
    <th>Type</th>
  </tr>
  </thead>

  <tbody>
  <% @actors.each do |actor| %>
    <tr>
      <td><%= actor.first_name %></td>
      <td><%= actor.last_name %></td>
      <td><%= actor.birth_date %></td>
      <td><%= actor.description %></td>
      <td>Actor</td>
    </tr>
  <% end %>
  <% @directors.each do |actor| %>
    <tr>
      <td><%= actor.first_name %></td>
      <td><%= actor.last_name %></td>
      <td><%= actor.birth_date %></td>
      <td><%= actor.description %></td>
      <td>Director</td>
    </tr>
  <% end %>
  </tbody>
</table>