<h1 align="center">Lab 09</h1>
<h2>Models</h2>
<%= link_to 'Actors', actors_path %><br>
<%= link_to 'Director', directors_path %><br>
<%= link_to 'Movie', movies_path %><br>
<%= link_to 'Category', categories_path %><br>
<%= link_to 'Address', addresses_path %><br>
<%= link_to 'Actor-Movie', actor_movies_path %><br>

<br>

<h2>Person Form</h2>
<%= link_to 'Create Person', persons_new_path %><br>

<br>

<h2>All People (through /persons)</h2>
<%= link_to 'Actors', persons_actor_path %><br>
<%= link_to 'Directors', persons_director_path %><br>

<br>

<h2>Categories</h2>
<%= link_to 'New Category', new_category_path %><br>
<%= link_to 'View Categories', categories_path %><br>

<br>

<h2>New Movie</h2>
<%= link_to 'New Movie', new_movie_path %>
